.header {
    font-family: 'Barlow Semi Condensed', sans-serif;
    letter-spacing: 1px;
    text-align: center;
}
.info {
    text-align: center;
}
.options {
    display: flex;
    justify-content: space-evenly;
    margin: 2rem 0rem;
}
.options-title {
    text-align: center;
    font-style: italic;
    margin-top: 7rem;
}