.background {
    height: 80vh;
    padding: 5rem 3rem;
}
.background h1 {
    font-family: 'Barlow Semi Condensed', sans-serif;
    letter-spacing: 1px;
    color: rgb(83, 81, 83);
    text-shadow: white 1px 1px;
}
.background p {
    color: rgb(83, 81, 83);
    font-weight: 600;
    text-shadow: white 1px 1px;
}
.background button {
    padding: 5px 6px;
    border-radius: 10px; 
    background-color: rgba(224, 73, 161, 0.781);
    outline: none;
    border: rgba(233, 133, 201, 0.897);
    border-style: groove;
}
.background button:hover {
    background-color: rgba(245, 245, 245, 0.8);
    border: whitesmoke;
    border-style: groove;
}
.background button:hover a {
    color: rgb(128, 0, 90);
    text-decoration: none;
}
.background button a {
    color: whitesmoke;
    font-weight: 600;
}

@media only screen and (max-width: 460px) {
    .background {
        padding: 3rem 1rem;
    }
}

@media only screen and (max-width: 360px) {
    .background {
        padding: 2rem 1rem;
    }
    .background h1 {
        font-size: 27px;
    }
    .background p {
        font-size: 14px;
    }
    .background button {
        padding: 2px 3px;
    }
}
