.projects-title {
    font-family: 'Barlow Semi Condensed', sans-serif;
    letter-spacing: 1px;
    text-align: center;
}
.projects-intro {
    text-align: center;
    /* font-family: 'Abel', sans-serif; */
    font-family: 'Barlow Semi Condensed', sans-serif;
    /* font-weight: bold; */
    text-shadow: lightgray 0.5px 0.5px;
}
.card-deck {
    display: flex;
    flex-flow: row wrap;
    /* margin-left: 2rem; */
    justify-content: center;
}
.card {
    width: 18rem;
    margin-right: 3rem;
    white-space: nowrap;
    height: 5rem;
}
.card-title {
    color: purple;
    font-weight: 700;
}
.buttons {
    display: flex;
    justify-content: space-around;
}